# VS Code
.vscode/**

# Jetbrains
.idea/**
node_modules/**

# Git
.gitignore

# Templates
colors/**
templates/**

# Typescript
src/**
tsconfig.json

# Build Files
.version-getter/**
build.py

# Product icons
resources/product/**
icons/product-icons-test.html

# Other
.tests/**