# VS Code
.vscode/**

# VS
.vs/**
bin/**
My Project/**
obj/**
*.sln
*.vbproj
*.pkgdef

# Jetbrains
.idea/**
node_modules/**

# Git
.gitignore

# Other
bin/**
.test_files/**
fonts/**
build.bat
theme.css
theme-converter/**
tmp/**
colors.yaml