# VS Code
.vscode/**

# Jetbrains
.idea/**
node_modules/**

# Git
.gitignore

# Templates
colors/**
templates/**

# Typescript
src/**
tsconfig.json

# Build Files
.version-getter/**
build.py

# Other
.tests/**

# TODO Temp stuff
vsthemes/**
fonts/**